# List Comprehension

List comprehensions provides a shorter syntax for creating a new list based on the values of an existing list.

In [1]:
# creating a new list with elements with 'a' in them, using list comprehensions.
fruits = 'apple banana cherry kiwi mango'.split()
newlist = [x for x in fruits if 'a' in x]

In [2]:
newlist

['apple', 'banana', 'mango']

## Syntax

`newlist = [expression for item in iterable if condition ==  True]`

This returns a new list, without modifying the original list

`condition` is optional.

`Iterable` can be any iterable object, like a list, tuple, set etc.

In [3]:
# using range() function as an iterable

newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

`Expression` is the current item in the iteration and also the outcome, which can be manipulated before it ends up like a list item in the new list.

In [5]:
#setting the values in the new list to upper case:

newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [6]:
newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

`expression` can also contain conditions, as a way to manipulate the outcome:

In [7]:
newlist = [x if x != 'banana' else 'orange' for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [8]:
# nested lists using list compresensions.

matrix = [[x for x in range(3)] for x in range(3)]
matrix

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

## List Comprehensions and Lambda Functions

In [9]:
numbers = [x*10 for x in range(1,6)]
numbers

[10, 20, 30, 40, 50]

In [10]:
numbers =  list(map(lambda i: i*10, [x for x in range(1, 6)]))
numbers

[10, 20, 30, 40, 50]

In [11]:
lis = ['Even number' if x%2 == 0 else "Odd number" for x in range(10)]
lis

['Even number',
 'Odd number',
 'Even number',
 'Odd number',
 'Even number',
 'Odd number',
 'Even number',
 'Odd number',
 'Even number',
 'Odd number']

In [12]:
# Generating the transpose of matrix

two_D_matrix = [[10, 20, 30],
                [40, 50, 60],
                [70, 80, 90]]
transpose = [[i[j] for i in two_D_matrix] for j in range(len(two_D_matrix))]

transpose

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [13]:
len(two_D_matrix)

3

In [14]:
# reverse each string in a tuple
list1 = [string[::-1] for string in ('List', 'Comprehensions','are', 'cool')]
list1

['tsiL', 'snoisneherpmoC', 'era', 'looc']

## Walrus operator
`:=`

In [15]:
import random
def get_weather_data():
    return random.randrange(90, 110)
hot_temps = [temp for _ in range(20) if (temp := get_weather_data()) >= 100]
hot_temps

[104, 102, 109, 107, 109, 102, 102, 101, 106, 107, 103, 105]

requests from an API or a function over some condition to be added in the list.